@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* CSS custom properties */
:root {
    --main-color : #20c8df;
    --secondary-color : #a2a2a2;
    --transparent-color: #15627aa1;
    --section-padding : 100px;
    --paragraph-color : #444;
    --main-duration : 0.3s;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Global Rules CSS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

/*global container css*/
.container { 
    padding-left: 15px;
    padding-right: 15px;
    /* La valeur auto indique que le margin va prendre ce qui reste comme valeur aprés le width */
    margin-left: auto;
    margin-right: auto;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
}

/* Start Component */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 45px;
    font-weight: normal;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 150px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.main-heading h2::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: -39px;
}

.main-heading p {
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px;  /* top left/right bottom */
    font-size: 15px;
    color: #777;
}
/* End Component */

/* Start Header CSS */
header {
    position: absolute; /* Pour avoir le background image du landing qui s'extend dans le header aussi */
    left: 0;
    width: 100%; /* Pour prendre la totalite de l'espace en longueur */
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Permet d'ancrer l'ensemble des autres elements a l'interieur sur le header container */
    min-height: 105px; /* Définir un minimum pour ne pas avoir l'effet de changement de hauteur sur le passage de souris */
}

header .container::after { /* Ajouter un trait en bas du container et pouvoir le controler  */
    content: '';
    position: absolute; /* Placer les elements librement dans la page mais toujours ancre au relative */
    background-color: var(--secondary-color);
    height: 1px;
    width: calc(100% - 30px);
    bottom: 2px;
    left: 15px;
}

header .logo img {
    height: 40px;
}

header nav {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex: 1;
}

header nav .form {
    margin-left: 35px;
    position: relative;
}

header nav .form::before {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    height: 180%;
    width: 2px;
    left: -10px;
    top: -9px;
}

header nav .form i {
    color: white;
    font-size: 25px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    padding: 40px 10px;
    display: block; /* Utilise pour bien afficher les liens dans les petites ecran afin de respecter les dimensions */
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active, header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .toggle-menu {
    color: white;
    font-size: 25px;
}

@media (max-width: 767px) { 
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
        padding: 15px;
    }
    header nav ul li a:hover {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
/* End Header CSS */

/* Start Landing CSS */
.landing {
    min-height: 100vh;
    background-image: url(../images/landing.jpg);
    background-color: beige;
    background-size: cover;
    position: relative;
}
/* Effet noir transparent sur l'image en background de la class landing */
.landing .overlay {    
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Le transform et le top c'est pour permettre de mettre le contenu au milieu en vertical (Y) */
    color: white;
    width: 50%; /* Prendre la moitier de l'element declarer relative, dans notre cas c'est la class landing */
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px; /* Pour limiter l'espace du texte, combiner avec le flex-end de la class text, ca permet de donner un effet de pouser a droite */
    margin-left: 25px;
}


@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        display: block;
        padding: 20px;
    }
    .landing .text .content{
        max-width: 100%;
    }
}


.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullet {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullet li {
    color: white;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.landing .bullet .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing CSS */
/* Start Services Section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .service-box {
    display: flex;
}

@media (min-width: 768px) { /* Sera execute aprés 768px */
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
    }
}

.services .service-box i {
    margin-right: 50px;
}

@media (max-width: 767px) { /* Sera execute avant 767px */
    .services .service-box {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .services .service-box .text {
        text-align: center;
    }
    .services .service-box i {
        margin: 20px 0 20px;
    }
}

.services .service-box .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .service-box .text p {
    line-height: 2;
    color: #777;
}
/* End Services Section */
/* Start Design Section */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    align-items: center;
    position: relative;
    height: 600px;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    overflow: hidden; /* Pour cacher l'image qui va sortir en bas */
}

.design::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image, .design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

.design .image img {
    position: relative;
    bottom: -150px;
}

@media (max-width: 767px) { /* Sera execute avant 767px */
    .design .image {
        display: none;
    }
    .design .text h2 {
        text-align: center;
    }
}


.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.design .text ul li {
    padding: 15px 0;
    position: relative;
}

.design .text ul li::before {
    content: '\f108';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design Section */
/* Start Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .image-container .box {
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) { 
    .portfolio .image-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) { 
    .portfolio .image-container .box {
        flex-basis: 25%;
    }
}

.portfolio .image-container .box:hover .caption {
    bottom: 0;
}

.portfolio .image-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .image-container .box img {
    max-width: 100%; /* Pour que l'image ne sort pas du container, prend 100% de la dimension du container*/
    transition: 0.3s;
}

.portfolio .image-container .box .caption {
    position: absolute ;
    background-color: white;
    padding: 20px;
    left: 0;
    transition: 0.3s;
    width: 100%;
    bottom: -100%;
}

.portfolio .image-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .image-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    display: block;
    width: fit-content;
    margin: 30px auto; /* Center to link */ 
    text-decoration: none;
    text-transform: uppercase;
}

/* End Portfolio Section */
/* Start Video Section */
.video {
    position: relative;
}

.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    width: 100%;
    max-height: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
    top: 50%;
    transform: translateY(-50%);
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
/* End Video Section */
/* Start About Section */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px; /* Pour le ramener vers le haut */
    max-width: 100%;
}
@media (max-width: 767px) { 
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End About Section */
/* Start Stats Section */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    position: relative;
    background-image: url(../images/stats.png);
    background-size: cover;
    width: 100%;
}
.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) { 
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 767px) { 
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) { 
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
    background-color: black;
    border-radius: 50%;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}
/* End Stats Section */
/* Start Skills Section */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) { 
    .our-skills .container > div {  /*Direct child (div), cible les deux div dans le container*/
        flex-basis: 45%;
    }
}

.our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .testimonials {
    position: relative;
}

.our-skills .testimonials .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .testimonials .content-box img {
    width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: auto 50px auto;  /*top right bottom left*/
}
@media (max-width: 767px) { 
    .our-skills .testimonials .content-box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .our-skills .testimonials .content-box img {
        margin: 0 auto 20px;
    }
}

.our-skills .testimonials .content-box .text {
    position: relative;
    line-height: 1.8;
    border-bottom: 1px solid #CCC;
}

.our-skills .testimonials .content-box .text p {
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
}

.our-skills .testimonials .bullet {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullet li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testimonials .bullet li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    width: 40px;
    text-align: center;
    padding: 4px 0; /*top right bottom left*/
    left: 95%;
    top: -120%;
    border-radius: 4px;

}
.our-skills .skills .prog-holder .prog span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -7px;
    top: -10px;
}
/* End Skills Section */
/* Start Quote Section */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    text-align: center;
    color: white;
    background-image: url(../images/quote.jpg);
    background-size: cover;
    width: 100%;
}
.quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    position: relative; /* Son utilisation a ce niveau c'est juste de permettre de ramener le text en front de l'image en background*/ 
}

.quote .container q {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}
.quote .container q::before {
    content: '\f10d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    top: -5px;
    position: relative;
}
.quote .container q::after {
    content: '\f10e';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    top: -5px;
    position: relative;
}

.quote .container span {
    text-align: right;
}
/* End Quote Section */
/* Start Pricing Section */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    text-align: center;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
}

.pricing .plans .plan .type-price {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .type-price h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .type-price .price {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan .type-price .price::before {
    content: '$';
    position: relative;
    font-size: 30px;
    right: 5px;
    top: -31px;
}
.pricing .plans .plan .type-price .price::after {
    content: '/Mo';
    position: relative;
    font-size: 20px;
    left: 5px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 1px;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .plan a {
    display: block; /* Ca va nous permettre de le manipuler comme un paragraphe */
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}

.pricing .contact {
    margin: 50px auto 20px;
    text-align: center;
}

.pricing .contact p {
    font-size: 20px;
}

.pricing .contact a {
    display: block; /* Ca va nous permettre de le manipuler comme un paragraphe */
    padding: 15px 30px;
    text-decoration: none;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
}
/* End Pricing Section */
/* Start Subscribe Section */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    position: relative;
}
.subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
    position: relative; /* Pour ramener le contenu en haut*/ 
    display: flex;
    align-items: center;
   
}
@media (max-width: 991px)  {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe .container form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.subscribe .container form input[type='email'] {
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 130px);
    background-color: transparent;
    padding: 20px 20px 20px 60px; /*top right bottom left*/
    caret-color: var(--main-color);
    color: white;
}

.subscribe .container form input[type='submit'] {
    width: 130px;
    border: 1px solid white;
    border-left: none;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
}

.subscribe .container form input[type='email']:focus, .subscribe .container form input[type='submit']:focus {
    outline: none; /* Enlever le focus qu'on a au niveau des input ou bouton */
}

.subscribe .container form ::placeholder {
    color: white;
}

.subscribe .container p {
    line-height: 2;
    margin-left: 50px;
}
@media (max-width: 991px)  {
    .subscribe .container p {
        margin: 30px 0 0;
    }
}

/* End Subscribe Section */
/* Start Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    border: 1px solid #CCC;
    display: block;
    width: 100%;
    padding: 20px; /*top right bottom left*/
    caret-color: var(--main-color);
    margin-bottom: 30px;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form input[type='submit'] {
    border: none;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: flex; /* Un display flex plus un margin auto permet de faire bouger l'element vers une extremite */ 
    margin-left: auto;
    cursor: pointer;
}

.contact .content .contact-text {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .content .contact-text {
        order: -1;
        text-align: center;
    }
}

.contact .content .contact-text h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .contact-text h4:nth-of-type(2) { /* Selectionne le 2eme element de type h4*/
    margin-top: 100px;
}
@media (max-width: 767px) {
    .contact .content .contact-text h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .contact-text .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .contact-text address {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .contact .content .contact-text address {
        margin-bottom: 40px;
    }
}
/* End Contact Section */
/* Start Footer Section */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
    position: relative;
}

.footer p:not(.copyright) {
    margin: 20px auto; /* le auto c'est pour le centrer*/
    padding: 20px;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    width: fit-content;
}
/* .footer p:not(.copyright)::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 250px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110px;
} */

.footer .social-icons i {
    margin: 0 10px 0 15px;
    /* padding: 0 10px 0 15px;; */
}

.footer .copyright {
    margin-top: 50px;
}

.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer Section */
